extends: default

rules:
  line-length:
    max: 160
    ignore:
      - manifests/sealed-secrets/minio-secret-wf.yaml
      - manifests/sealed-secrets/minio-secret-cd.yaml
  indentation: {spaces: 2}
  truthy: disable
  comments-indentation: disable # optional
  document-start: disable # optional
  comments:
    min-spaces-from-content: 1 # Changed this to stop a mess between linters from Prettier (vscode) to yamllint
