apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: fleet-server
  namespace: {{ elk_namespace }}
spec:
  entryPoints:
    - web
  routes:
    - match: PathPrefix(`/fleet`)
      kind: Rule
      services:
        - name: fleet-server
          port: 8220