apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ grafana_release_name }}-ingress
  namespace: {{ grafana_namespace }}
  annotations:
    kubernetes.io/ingress.class: traefik
    traefik.ingress.kubernetes.io/router.entrypoints: web
spec:
  rules:
  - host: {{ grafana_ingress_host }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ grafana_release_name }}
            port:
              number: {{ grafana_service_port | default(80) }}