apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-ini-settings
  namespace: {{ grafana_namespace }}
data:
  grafana.ini: |
    [server]
    domain = {{ grafana_domain | default(grafana_ingress_host) }}
    root_url = %(protocol)s://%(domain)s/grafana/
    serve_from_sub_path = true